body
{
  background-color: #45edb8;  
}
#score
{
font-size: 20px;
float: left;
margin-left: 5px;
}
#timer
{
    font-size: 20px;
float: right;
margin-right: 5px;
}
#p_sketchtobedrawn
{
    color:#3b0ce8;
}
#show_sketch
{
  float:right;
}
canvas
{
  border-radius: 20px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes example
{
  from{
    box-shadow: 5px 5px 40px #fc0349;
  }
  to{
    box-shadow: 5px 5px 200px #2905f5;
  }
}
